*{
	margin: 0;
	padding: 0;

}


body{
	background-image: url(isala-back.png);


}


ul {
	padding: 15px 0;
    border: 0;
    background: #fe0000;
    height: 20px;
    font-family: 'Rubik', sans-serif;
 	display: block;
}

.schoolname{
	border: 0;
	height: 130px;
	font-size: 17px;
	text-decoration: none;
	margin-top: 23px;
	font-family: 'Rubik', sans-serif;
	color: #ffffff;
	margin-left: 10px;
}

li{
	float: left;
	display: inline-block;
	list-style: none;
	margin-top: 3px;
	margin-right: 1%;
	margin-left: 20px;
	color: #ffffff;
	text-decoration: none;

}

ul li a:hover{
	
	color: #000000;
}


.logo1 {
	float: left;
    border-radius: 40px;
    height: 68px;
    width: 68px;
    margin-left: 80px;
    margin-top: 15px;
    
}



.banner{
text-align: center;
padding: 1px 0;
margin-top: 20px;
margin-left: 1px;
font-size: 30px;


}



.hero {
	height: 80%;
	width: 100%;
	background-position: center;
	background size: cover;
	position: absolute;
	padding: 100px 0;
	margin-top: 80px;
}


.form-box{
	width: 1390px;
	height: 3650px;
	margin: 6% auto;
	padding: 50px 15px;
	border: 5px solid #fe0000;
    border-radius: 30px;
    background: #ffffff;
    opacity: 100%;
    margin-top: 10px;
    

}

span{
color: #000000;
font-family: 'Rubik', sans-serif;
font-size: 13px;
}



.title{
	margin-top: 0;
	color: #000000;
	font-size: 40px;
	text-align: center;
	font-family: 'Rubik', sans-serif;
	text-decoration: none;
}

.info{
	font-size: 12px;
	font-family: 'Rubik', sans-serif;
}

.bannd{
	font-family: 'Rubik', sans-serif;
	display: inline-block;
	text-align: center;
	float: right;
	margin-right: 200px;
	font-size: 20px;

}


.navig{
	position: fixed;
	top: 0;
	width: 100%;

}

.mess-logo{
	 float: right;
	 padding: 650px 0;
	 margin-left: 1380px;
	 margin-right: 	30px;
	 position: fixed;
	 height: 50px;
	 width: 50px;
}

.contents{
	text-align: center;


}


.mess-logo:hover{
	 background: transparent	;
	 border: 2px solid transparent	;
	 border-radius: 30px;	
	 height: 50px;

}